<!-- This is a static file -->

<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dl#Wrapping_name-value_groups_in_%3Cdiv%3E_elements -->
    <dl>
      
      <div>
        <dt>Time to Interactive (TTI)</dt>
        <dd><em>Time to Interactive</em> or <em>TTI</em> refers to the amount of time between intial page load and the moment when the user can first interact with the page.</dd>
      </div>
  
      <div>
        <dt>First Meaningful Paint (FMP)</dt>
        <dd><em>First Meaningful Paint</em> or <em>FMP</em> refers to the amount of time between the initial page load and the </dd>
        <dd>See also: TTFCP, TTI, TTFP</dd>
      </div>
      
      <dt>Time to First Contentful Paint (TTFCP)</dt>
      <dt>Time to First Paint (TTFP)</dt>
      <dt>Time to First Byte (TTFB)</dt>
      <dt>Page Load</dt>
      <dt>Render Time</dt>
      <dt>DOMContentLoaded</dt>
      <dt>Start Render (Time)</dt>
      <dt>Visually Complete</dt>
      <dt>Speed Index</dt> <!-- https://sites.google.com/a/webpagetest.org/docs/using-webpagetest/metrics/speed-index -->
      <dt>WebPagetest</dt> <!-- https://sites.google.com/a/webpagetest.org/docs/using-webpagetest/quick-start-quide -->
      <dt>Quirks Mode</dt> <!-- https://en.wikipedia.org/wiki/Quirks_mode and https://quirksmode.org -->
      <dt>HTML</dt>
      <dt>CSS</dt>
      <dt>JS</dt>
      <dt>ECMA</dt>
      <dt>ECMAScript (ES)</dt>
      <dt>TC39</dt>
      <dt>W3C</dt>
      <dt>WHATWG</dt>
      <dt>HTML5</dt>
      <dt>XHTML</dt>
      <dt>XML</dt>
      <dt>JSON</dt>
      <dt>Script</dt>
      <dt>Canvas</dt>
      <dt>Browser</dt>
      <dt>Client</dt>
      <dt>Mozilla Developer Network (MDN)</dt> <!-- developer.mozilla.org -->
      <dt>Community Group (CG)</dt>
      <dt>Web Platform Incubator CG (WICG)</dt> <!-- https://www.w3.org/community/wicg/ -->
      <dt>Social Web Incubator CG (SWIGC)</dt> <!-- https://www.w3.org/community/swicg/ -->
      
      <dt>Chromium</dt>
      <dt>Canary</dt>
      <dt>Tip of Tree (TOT)</dt>
      <dt>PNaCl</dt>
      <dt>WebAssembly (WASM)</dt>
      <dt>Technical Steering Committee (TSC)</dt>
      <dt>Media type</dt>
      <dt>Content type</dt>
      <dt>MIME type</dt>
      <dt>Looks good to me (LGTM)</dt>
      <dt>Sounds good to me (SGTM)</dt>
      <dt>Parse</dt>
      <dt></dt>
      <dt></dt>
      <dt></dt>
    </dl>
    
    <p>Resources</p>
    <ul>
      <li>https://rigor.com/blog/2016/11/web-performance-metrics</li>
    </ul>
  </body>
</html>
